# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# macOS cruft
.DS_Store

# Docker volumes (Milvus, etcd, MinIO persistent data)
volumes/

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore local configs or temp files
*.swp
*.swo

*.deepeval
docker-compose.yml
standalone_embed.sh
