pandas==2.2.3
pillow==10.4.0
langchain==0.3.23
langchain-community==0.3.29
langchain-core==0.3.76
langsmith==0.3.32
llama-index==0.14.4
llama-index-core==0.14.4
llama-parse==0.6.0
llama-cloud==0.1.12
sentence-transformers==4.1.0
transformers==4.49.0
huggingface-hub==0.30.2
openai==1.62.0
pymilvus==2.5.6
beautifulsoup4==4.13.4
markdownify==0.13.1
htmltabletomd
html_to_markdown
marker-pdf==1.6.1
playwright==1.50.0
selenium==4.29.0
fastapi==0.116.2
uvicorn
Flask==3.1.0
opencv-python-headless==4.11.0.86
